<section class='intro'>
	<div class='intro__meta'>
		<p class='intro__byline'>
			<a href='{{meta.author.url}}' target='_blank'>
				<strong>{{doc.author}}</strong>
			</a>
		</p>
		<time class='intro__time'>{{{doc.date}}}</time>
	</div>


	{{#each doc.intro}}
	<p class='prose prose-large'>{{{value}}}</p>
	{{/each}}

	<div class='scroll-note'>
		<p class='scroll-text'>Scroll to Watch with me</p>
	</div>


	{{> story/ads }}
	<img class='entCenter' src='assets/images/entertainment_center.png'>

	{{#each doc.postTV}}
	<p class='prose prose-large'>{{{value}}}</p>
	{{/each}}

	<p class='prose'>{{{doc.preDef}}}</p>
	<p class='definition'>{{{doc.def}}}</p>

	{{#each doc.postComplaint}}
	<p class='prose'>{{{value}}}</p>
	{{/each}}
</section>